@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1100px;
  padding-top: 1.875em;
  margin: 0 auto;
}

header > *,
main > *,
footer > * {
  padding-left: 0.9375rem;
  padding-right: 0.9375em;
}

section {
  margin-bottom: 0.9375em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .nav-container i {
  font-size: 1.5em;
  margin-left: auto;
  cursor: pointer;
  color: #bfbfbf;
}
header .nav-container nav {
  z-index: 50;
  display: none;
  background-color: #3b3054;
  position: absolute;
  width: 90%;
  left: 50%;
  top: calc(100% + 15px);
  transform: translateX(-50%);
  flex-direction: column;
  padding: 0 1.25em;
  border-radius: 10px;
}
header .nav-container nav.show {
  display: flex;
}
header .nav-container nav ul {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #9e9aa7;
  padding: 0.9375rem 0;
}
header .nav-container nav ul:last-child {
  border: none;
}
header .nav-container nav ul li a {
  display: block;
  text-align: center;
  padding: 0.9375rem;
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  header .nav-container {
    padding: 0;
    width: 100%;
  }
  header .nav-container i {
    display: none;
  }
  header .nav-container nav {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }
  header .nav-container nav ul {
    flex-direction: row;
    border: none;
  }
  header .nav-container nav ul li a {
    color: #bfbfbf;
  }
  header .nav-container nav ul li a:hover {
    color: #35323e;
  }
  header .nav-container nav ul li a.round-button {
    color: #ffffff;
    padding: 0.9375rem 1.7rem;
    margin-left: 2rem;
  }
}

section.welcome {
  padding-top: 0.625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
section.welcome > * {
  text-align: center;
}
section.welcome img {
  max-height: 400px;
  max-width: 400px;
  justify-self: center;
  transform: translateX(15%);
}
section.welcome .welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.welcome .welcome-text h2 {
  font-size: 2em;
  font-weight: bold;
  color: #35323e;
  margin-bottom: 25px;
}
section.welcome .welcome-text p {
  color: #bfbfbf;
  line-height: 1.7;
  margin-bottom: 25px;
}
section.welcome .welcome-text a {
  padding: 15px 0;
  width: 50%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  section.welcome {
    padding-top: 2em;
    position: relative;
    align-items: flex-start;
  }
  section.welcome img {
    max-width: 500px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(25%);
  }
  section.welcome .welcome-text {
    padding: 2em 0;
    align-items: flex-start;
    width: 55%;
  }
  section.welcome .welcome-text h2 {
    text-align: left;
    font-size: 3.5em;
  }
  section.welcome .welcome-text p {
    text-align: left;
  }
}
@media screen and (min-width: 1380px) {
  section.welcome {
    overflow-x: inherit;
  }
}

section.shortener-section {
  margin-top: 8.4375rem;
  margin-bottom: 0;
  position: relative;
}
section.shortener-section::before {
  content: "";
  position: absolute;
  background-color: #f0f1f6;
  width: 100vw;
  height: 100%;
  z-index: 0;
  left: 50%;
  transform: translate(-50%);
}
section.shortener-section form#shortener {
  z-index: 2;
  position: relative;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #3b3054;
  background-image: url("./images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  padding: 1.25em;
  transform: translateY(-50%);
}
section.shortener-section form#shortener fieldset {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
section.shortener-section form#shortener fieldset > input, section.shortener-section form#shortener fieldset > button {
  border-radius: 10px;
  font-size: 1.2rem;
  height: 55px;
}
section.shortener-section form#shortener fieldset input {
  padding: 15px;
  border: none;
  width: 100%;
}
section.shortener-section form#shortener fieldset input:focus {
  outline: none;
}
section.shortener-section form#shortener fieldset input.error {
  border: 2px solid red;
}
section.shortener-section form#shortener fieldset input.error::placeholder {
  color: red;
}
section.shortener-section form#shortener fieldset button {
  width: 100%;
  padding: 0.9375rem 0;
}
section.shortener-section form#shortener fieldset:disabled button {
  cursor: progress;
  opacity: 0.5;
}
section.shortener-section form#shortener p.error-message {
  display: none;
  margin-top: 1em;
  color: red;
  font-style: italic;
  font-size: 0.9rem;
}
section.shortener-section form#shortener p.error-message.show {
  display: block;
}
@media screen and (min-width: 768px) {
  section.shortener-section form#shortener {
    max-width: unset;
  }
  section.shortener-section form#shortener fieldset {
    grid-template-columns: auto 200px;
  }
}
section.shortener-section .shorted-links-container {
  z-index: 2;
  position: relative;
  transform: translateY(-65px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.shortener-section .shorted-links-container .link {
  width: 100%;
  max-width: 500px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 1.25rem;
}
section.shortener-section .shorted-links-container .link:last-child {
  margin-bottom: 0;
}
section.shortener-section .shorted-links-container .link p.long-link {
  position: relative;
  padding: 1.0625rem;
}
section.shortener-section .shorted-links-container .link span.divisor {
  display: block;
  width: 100%;
  height: 1px;
  background: #f0f1f6;
}
section.shortener-section .shorted-links-container .link p.short-link {
  color: #2acfcf;
  padding: 1.0625rem;
}
section.shortener-section .shorted-links-container .link .button-container {
  padding: 0 1.0625rem;
  display: flex;
  justify-content: center;
}
section.shortener-section .shorted-links-container .link .button-container button {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  margin-bottom: 1.0625rem;
  font-size: 1.1rem;
}
section.shortener-section .shorted-links-container .link .button-container button.copied {
  background-color: #3b3054;
}
@media screen and (min-width: 768px) {
  section.shortener-section .shorted-links-container {
    transform: translateY(0);
    padding-bottom: 4.0625rem;
  }
  section.shortener-section .shorted-links-container .link {
    max-width: unset;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 150px;
  }
  section.shortener-section .shorted-links-container .link span.divisor {
    display: none;
  }
  section.shortener-section .shorted-links-container .link p.long-link {
    overflow: visible;
  }
  section.shortener-section .shorted-links-container .link .short-link {
    text-align: right;
  }
  section.shortener-section .shorted-links-container .link .button-container {
    padding: 0.8rem 1.0625rem;
  }
  section.shortener-section .shorted-links-container .link .button-container button {
    margin: 0;
  }
}

section.features {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  margin-bottom: 0;
}
section.features > * {
  z-index: 1;
}
section.features::before {
  content: "";
  position: absolute;
  background-color: #f0f1f6;
  width: 100vw;
  height: 100%;
  z-index: 0;
  left: 50%;
  transform: translate(-50%);
}
section.features .features-title {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.9375rem;
}
section.features .features-title > * {
  text-align: center;
}
section.features .features-title h2 {
  font-weight: bold;
  font-size: 1.8em;
}
section.features .features-title p {
  color: #9e9aa7;
  line-height: 1.7;
}
section.features .features-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 50px;
  margin-bottom: 0;
  position: relative;
}
section.features .features-container::after {
  content: "";
  position: absolute;
  background-color: #2acfcf;
  width: 8px;
  height: 70%;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
section.features .features-container .feature {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
section.features .features-container .feature img {
  background-color: #3b3054;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  transform: translateY(50%);
}
section.features .features-container .feature .feature-text {
  border-radius: 10px;
  padding: 50px 15px 15px 15px;
  background-color: #ffffff;
}
section.features .features-container .feature .feature-text > * {
  text-align: center;
}
section.features .features-container .feature .feature-text h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
section.features .features-container .feature .feature-text p {
  color: #bfbfbf;
  line-height: 1.7;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  section.features .features-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  section.features .features-container::after {
    width: 70%;
    height: 8px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  section.features .features-container .feature {
    align-items: flex-start;
    max-width: 300px;
  }
  section.features .features-container .feature:nth-child(2) {
    margin-top: 2rem;
  }
  section.features .features-container .feature:nth-child(3) {
    margin-top: 4rem;
  }
  section.features .features-container .feature img {
    margin-left: 2rem;
  }
  section.features .features-container .feature .feature-text {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  section.features .features-container .feature .feature-text > * {
    text-align: left;
  }
}

section.get-started {
  display: grid;
  grid-template-columns: 1fr;
  padding: 9.375rem 1.5625rem;
  position: relative;
  margin-bottom: 0;
}
section.get-started::before {
  content: "";
  position: absolute;
  background-color: #3b3054;
  background-image: url("./images/bg-boost-mobile.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  z-index: 0;
  left: 50%;
  transform: translate(-50%);
}
section.get-started > * {
  z-index: 2;
}
section.get-started h2 {
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 25px;
}
section.get-started a {
  width: 50%;
  margin: 0 auto;
  padding: 15px 0;
}
@media screen and (min-width: 768px) {
  section.get-started {
    padding: 4.375rem 1.5625rem;
  }
}

footer {
  position: relative;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;
  padding: 2.8125rem;
}
footer::before {
  content: "";
  position: absolute;
  background-color: #35323e;
  width: 100vw;
  height: 100%;
  z-index: 0;
  left: 50%;
  transform: translate(-50%);
}
footer > * {
  position: relative;
  z-index: 2;
}
footer .logo {
  text-align: center;
}
footer .logo img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7435%) hue-rotate(165deg) brightness(128%) contrast(101%);
}
footer .links-container {
  display: grid;
  grid-template-columns: 1fr;
}
footer .links-container .link-group {
  color: white;
  text-align: center;
  margin: 1.5625rem 0;
  font-size: 1rem;
}
footer .links-container .link-group:last-child {
  margin-bottom: 0;
}
footer .links-container .link-group h4 {
  margin-bottom: 1.5625rem;
}
footer .links-container .link-group a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.9375rem;
  color: #bfbfbf;
}
footer .social {
  display: flex;
  justify-content: center;
}
footer .social i {
  color: white;
  font-size: 25px;
  margin-right: 20px;
}
footer .social i:last-child {
  margin: 0;
}
@media screen and (min-width: 768px) {
  footer {
    grid-template-columns: 0.75fr 2fr 0.75fr;
  }
  footer .logo {
    text-align: left;
  }
  footer .links-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  footer .links-container .link-group {
    margin: 0;
  }
  footer .links-container .link-group h4 {
    margin-bottom: 1rem;
  }
  footer .links-container .link-group li a {
    font-size: 0.8rem;
    padding: 0.5375rem;
    margin-bottom: 0.5rem;
  }
  footer .social {
    padding: 0;
    justify-content: flex-end;
  }
}

.round-button {
  display: inline-block;
  text-align: center;
  background-color: #2acfcf;
  border-radius: 25px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
}
.round-button:focus {
  outline: none;
}
.round-button:hover {
  opacity: 0.5;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "…";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}
@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}
.toast {
  position: fixed;
  width: 90%;
  z-index: 100;
  background-color: #00ab66;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  transition: 0.5s ease;
}
.toast.show {
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=styles.css.map */
